;suppress inspection "DuplicateSectionInFile" for whole file
interval = 5
color = "#93a1a1"
color_good= "#93a1a1"
color_mid = "#b58900"
color_bad = "#dc322f"

[clock]

[clock.de]
color = "#40b5d6"
locale = de
format = Mon, 02. Jan 15:04

[wifi]
interface = wlan0
format = {{.IPv4}} ({{.SSID}} / {{.Frequency | As "GHz"}} / {{.Quality | Scale 0}})
down_format =
